@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    --primary: #3B2F2F;
    --secondary: #AD8762;
    --third: #C0C0C0;
    --white: #ffffff;
    --black: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

footer {
    background: var(--primary);
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 110px;
    min-width: 100%;
    white-space: nowrap;
}

#banner{
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 25%;
    min-width: 100%;
    padding: 25px;
    background: var(--third);
    color: var(--primary);
    white-space: nowrap;
}
.border-line {
    border-bottom: solid 1px var(--black);
    padding-bottom: 3px;
    width: 100%;
}
#banner h3{
    font-size: 24px;
    max-width: 60%;
}
#banner p{
    max-width: 45%;
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}
#contact p{
    font-size: 13px;
}
#multimedias{
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects{
    justify-content: center;
    display: flex;
    height: 800px;
    max-width: 30%;
    margin-top: 10%;
    margin-left: 35%;
    margin-bottom: 5%;
    border-radius: 10px;
    background-color: var(--third);
}
.grid-container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    height: 225px;
    width: 225px;
    text-align: center;
    border-radius: 5px;
}

.grid-item h1{
    color: var(--secondary);
}
.link{
    color: var(--secondary);
    text-decoration: none;
    margin-top: 20px;
}

.grid-item:nth-child(2),
.grid-item:nth-child(3),
.grid-item:nth-child(6) {
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.carousel{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    max-width: 50%;
    max-height: 300px;
    background-color: var(--third);
    top: 75px;
    margin-left: 25%;
    color: var(--primary);
}
#carousel h2 {
    color: var(--primary)
}

.text-container {
    display: block;
    text-align: center;
    padding: 75px;
    height: 250px;
    text-overflow: wrap;
}
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.dot-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}

@media (max-width: 767px) {
    section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    container {
        max-width: 100%;
    }
    .carousel {
        min-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .text-container{
        padding: 15%;
        padding-top: 10%;
        min-width: 100%;
        align-items: center;
    }
    .projects {
        height: 1500px;
        padding: 10px;
        min-height: 100%;
        min-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 40%;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 5px;
    }
    .grid-item:nth-child(1) {
        order: 1; /* Change the order of item 1 */
    }
      
    .grid-item:nth-child(2) {
        order: 2; /* Change the order of item 2 */
    }
      
    .grid-item:nth-child(3) {
        order: 4; /* Change the order of item 3 */
    }
      
    .grid-item:nth-child(4) {
        order: 3; /* Change the order of item 4 */
    }
      
    .grid-item:nth-child(5) {
        order: 5; /* Change the order of item 5 */
    }
      
    .grid-item:nth-child(6) {
        order: 6; /* Change the order of item 6 */
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .carousel {
        min-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .text-container{
        padding: 10%;
        padding-top: 10%;
        min-width: 100%;
        align-items: center;
    }
    .projects {
        height: 1500px;
        padding-top: 10px;
        min-height: 100%;
        min-width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30%;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 5px;
    }
    .grid-item{
        width: 300px;
    }
    .grid-item:nth-child(1) {
        order: 1;
    }
      
    .grid-item:nth-child(2) {
        order: 2;
    }
      
    .grid-item:nth-child(3) {
        order: 4;
    }
      
    .grid-item:nth-child(4) {
        order: 3;
    }
      
    .grid-item:nth-child(5) {
        order: 5;
    }
      
    .grid-item:nth-child(6) {
        order: 6;
    }
}
@media (min-width: 992px) and (max-width: 1669px) {
    .projects {
        height: 1500px;
        padding-top: 10px;
        min-height: 100%;
        min-width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 10%;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 5px;
    }
    .grid-item{
        width: 300px;
    }
    .grid-item:nth-child(1) {
        order: 1;
    }
      
    .grid-item:nth-child(2) {
        order: 2;
    }
      
    .grid-item:nth-child(3) {
        order: 4;
    }
      
    .grid-item:nth-child(4) {
        order: 3;
    }
      
    .grid-item:nth-child(5) {
        order: 5;
    }
      
    .grid-item:nth-child(6) {
        order: 6;
    }
}