@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    --primary: #3B2F2F;
    --secondary: #AD8762;
    --third: #C0C0C0;
    --white: #ffffff;
    --black: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--third);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
}

footer {
    background: var(--primary);
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 112px;
    min-width: 100%;
    white-space: nowrap;
}

hr {
    height: 2px;
    background-color: var(--black);
    border: none;
}


container {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 25%;
    margin-right: 100px;
}
img {
    height: 112px;
    width: 112px;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 48px;
}
.part {
    width: 66.666666%; 
    text-align: center; 
    justify-content: center; 
    margin-left: 80px; 
    margin-right: 80px;
}
.Question {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100vh;
}

.text {
    display: inline-block;
    max-width: 100%;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 16px;
}

.languages {
    display: inline-block;
    align-items: middle;
    justify-content: center;
    width: 80%;
    padding: 10px;
    margin-top: 40px;
    line-height: 32px;
    margin-left: 56px;
    margin-right: 56px;
    white-space: normal;
}

.skill{
    display: inline-block;
    background-color: var(--primary);
    color: var(--secondary);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    white-space: pre-wrap;
    margin: 1px;
}

.skill:hover{
    opacity: 0.7;
    cursor: pointer;
}

.Aboutme-bubble {
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--secondary);
    height: 700px;
    width: 700px;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(59, 47, 47, 1);
    margin-right: 50%;
}

.skill-bubble {
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    height: 500px;
    width: 500px;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(59, 47, 47, 1);
    margin-right: 100px;
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    color: var(--secondary);
}

#contact p{
    font-size: 12px;
}

#multimedias{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    container {
        max-width: 100%;
    }
    
    img {
        display: none;
    }

    .Aboutme-bubble,
    .skill-bubble {
        margin: 10%;
        min-width: 100%;
        border-radius: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    container {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Aboutme-bubble,
    .skill-bubble {
        margin-left: 10%;
        margin-right: 10%;

    }
    .images{
        height: 100px;
    }

    img {
        display: none;
    }
}
@media (min-width: 992px) and (max-width: 1669px) {

}