@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    --primary: #3B2F2F;
    --secondary: #AD8762;
    --third: #C0C0C0;
    --white: #ffffff;
    --black: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
footer{
    background: var(--primary);
    color: var(--secondary);
    display: flex;
    position: static;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 110px;
    width: 100%;
}
#banner{
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 25%;
    width: 100%;
    padding: 50px;
    line-height: 1.6rem;
    background: var(--third);
    color: var(--primary);
}
.border-line {
    border-bottom: solid 1px var(--black);
    padding-bottom: 3px;
    width: 100%;
}
#banner h3{
    font-size: 24px;
    max-width: 60%;
}
#banner p{
    max-width: 45%;
}
#contact{
    max-width: 40%;
}
#contact p{
    font-size: 13px;
}
#multimedias{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa{
    padding: 10px;
    /* font-size: 40px; */
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin: 5px 4px;
    border-radius: 50%;
}
.fa:hover{
    opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-github {
    background: #161b22;
    color: white;
}
.projects{
    justify-content: center;
    display: flex;
    height: 800px;
    max-width: 30%;
    margin-top: 10%;
    margin-left: 35%;
    margin-bottom: 5%;
    border-radius: 10px;
    background-color: var(--third);
}
.grid-container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    height: 225px;
    width: 225px;
    text-align: center;
    border-radius: 5px;
}
.grid-item h1{
    color: var(--secondary);
}

.link{
    color: var(--secondary);
    text-decoration: none;
}

.grid-item:nth-child(2),
.grid-item:nth-child(3),
.grid-item:nth-child(6) {
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.carousel{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    max-width: 50%;
    max-height: 300px;
    background-color: var(--third);
    top: 75px;
    left: 25%;
    color: var(--primary);
}
#carousel h2 {
    color: var(--primary)
}

.text-container {
    display: block;
    text-align: center;
    padding: 75px;
    height: 250px;
    text-overflow: wrap;
}
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.dot-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}