@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    --primary: #3B2F2F;
    --secondary: #AD8762;
    --third: #C0C0C0;
    --white: #ffffff;
    --black: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--third);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
}

footer {
    background: var(--primary);
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 110px;
    min-width: 100%;
    white-space: nowrap;
}

hr {
    height: 1px;
    background-color: var(--black);
    border: none;
}

img {
    height: 120px;
    width: 120px;
}

container {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    height: 400px;
    width: 25%;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    display: flex;
    padding-top: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.text {
    display: inline-block;
    min-width: 80%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.languages {
    display: inline-block;
    width: 80%;
    height: 80px;
    padding: 10px;
}

.skill{
    background-color: var(--primary);
    color: var(--secondary);
    padding: 4px;
    margin: 5px;
    border-radius: 10px;
    line-height: 35px;
}

.skill:hover{
    opacity: 0.7;
    cursor: default;
}

.Aboutme-bubble {
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--secondary);
    height: 700px;
    width: 700px;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(59, 47, 47, 1);
    margin-right: 50%;
}

.skill-bubble {
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    height: 500px;
    width: 500px;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(59, 47, 47, 1);
    margin: 50px;
    margin-right: 100px;
}

#contact{
    max-width: 60%;
}

#contact p{
    font-size: 13px;
}

#multimedias{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    container {
        max-width: 100%;
    }
    
    img {
        display: none;
    }

    .Aboutme-bubble,
    .skill-bubble {
        margin: 10%;
        min-width: 100%;
        border-radius: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    container {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Aboutme-bubble,
    .skill-bubble {
        margin-left: 10%;
        margin-right: 10%;

    }
    .images{
        height: 100px;
    }

    img {
        display: none;
    }
}